/*body
{
	background-image:url("");
	background-color: #000000;
}

#wrapper
{
	margin: auto;
	border-style: solid;
	border-width: 10;
	border-color: "white";
	background-color: #d6d0c2;
	width: 1000;
	height: 500;


	
}
#game
{
	margin: auto;
	width: 640;
	height:480;

}
#links
{
	
}*/